{% extends "base.html" %}

{% block titles %}
	Car Detail
{% endblock titles %}



{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
  	<img src=" {{ car.car_img.url }} " alt="picture of car" style='height:250px; object-fit: cover;'>
  	<br>
  	<hr>
    <h1 class="display-4">{{car.make}} - {{car.year}}</h1>
    <p class="lead">{{car.model}}</p>
    <a class="btn btn-primary" href="{% url 'car-update' car.id %}" role="button">Update</a>
  <a class="btn btn-outline-secondary" href="{% url 'car-delete' car.id %}" role="button">Delete</a>
  </div>
</div>


{% endblock content %}
