{% extends "base.html" %}

{% block titles %}
	Car List
{% endblock titles %}

{% block content %}
<div class="row">
	{% for car in cars %}
	<div class="col-12 col-md-6 col-lg-4 d-flex">
		<div class="card bg-light mb-3" style='width:350px; object-fit: cover;'>
		  <img src="{{ car.car_img.url }}" class="card-img-top" alt="...">
		  <div class="card-body">
		  	<a href="{% url 'car-detail' car.id %}">
		    <p class="card-text">{{ car.model }}</p>
		    </a>
		  </div>
		</div>

		<hr>
	</div>	
	{% endfor %}
</div>	
{% endblock content %}